<!DOCTYPE html>
<html>
    <head>
        <H1>HEllow this is website</H1>
    </head>
    <body>
    <h3 style="text-align: center;">login here....</h3><br>
	<form method="post" action="#">
	<span style="color:rgb(126, 37, 215);" >

	</span>
		<div >
		    <label >Email Address <span>*</span></label>
		    <input type="email" name="email"  >
		</div>
	  	<div class="form-group">
		    <label >Password <span>*</span></label>
		 <input type="password" name="password"  >
		</div>
	  	<button type="submit"  name="login">Login</button>
		<div >
		  	<a >Forgot your Password?</a>
		</div>
	</form>	
    </body>
</html>