{% extends 'base.html'%}
{% block title%}About{% endblock%}
{% block content%}
<h1>About Content goes here.</h1>
<div style="margin-right: 300px;margin-left: 300px;">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ayele abebe">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">address</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="sodo">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">sex</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="male">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
</div>
  
{% endblock%}